{#
  theme can be "light" or "dark"
  border can be "t", "b" or "y"
  brush can be true or false
#}
{% macro slat(content, theme, border, brush) %}
  <section class="Slat{{
    theme
      ? ' Slat--theme theme--' ~ theme
      : ' constrain'
    }}{{ border ? ' Slat--border-' ~ border }}{{ brush == true ? ' Slat--brush' }}">
    {% if theme %}
      <div class="constrain">
    {% endif %}
    {% if border %}
      <div class="Slat__content">
    {% endif %}
      {{ content }}
    {% if border %}
      </div>
    {% endif %}
    {% if theme %}
      </div>
    {% endif %}
  </section>
{% endmacro %}
