
// e.g. @include span-columns( 3, 7 );
@mixin span-columns( $columns, $container-columns ) {
	width: calc( $columns / $container-columns );
}

@mixin generate-grid( $breakpoint-id, $grid-sizes ) {
	@each $grid-size in $grid-sizes {
		@for $i from 1 through $grid-size {
			.#{$breakpoint-id}#{$i}-#{$grid-size} {
				@include span-columns( $i, $grid-size );
			}
		}
	}
}

@each $key, $breakpoint-vars in $breakpoints {
	$breakpoint-size: map-get( $breakpoint-vars, width );
	$grid-sizes: map-get( $breakpoint-vars, grids );

	@if $grid-sizes != null {
		@if $breakpoint-size == 'default' {
			@include generate-grid( $key, $grid-sizes );
		} @else {
			@include media( $key ) {
				@include generate-grid( $key, $grid-sizes );
			}
		}
	}
}
