{% set spaceTypes = [
  ['xs', 's','m', 'l', 'xl', '2xl', '3xl', '4xl'],
  [
    'xs-s',
    's-m',
    'm-l',
    'l-xl',
    'xl-2xl',
    '2xl-3xl'
  ]
] %}

<div class="flow">
  {% for group in spaceTypes %}  
    <div class="spaces flow">
      {% for space in group %}
        <div style="width: var(--space-{{ space }}); height: var(--space-{{ space }});">
          <span class="eyebrow">{{ space }}</span>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
  
<style>
.spaces > * {
  background: linear-gradient(135deg, rgba(169, 67, 154, 0.5) 0%, rgba(169, 67, 154, 0.4) 100%);
  position: relative;
}

.spaces span {
  position: absolute;
  left: 100%;
  margin-left: 1rem;
  white-space: nowrap;
  top: 50%;
  transform: translateY(-50%);
}
</style>
