<div class="flow" style="--flow: 1.5rem">
  <h1 class="h h-1">
    Heading .h-1
  </h1>
  <h2 class="h h-2">
    Heading .h-2
  </h2>
  <h2 class="h h-3">
    Heading .h-3
  </h2>
  <h2 class="h h-4">
    Heading .h-4
  </h2>
  <h2 class="h h-5">
    Heading .h-5
  </h2>
  <h2 class="h h-6">
    Heading .h-6
  </h2>
  <p class="eyebrow">
    Heading .eyebrow
  </p>

  <p>
    Body
  </p>
  <p class="lead">
    Body .lead
  </p>
  <p class="small">
    Body .small
  </p>
</div>
