---
title: Page not found
permalink: /404.html
---
{% extends "layouts/default.njk" %}

{% block main %}
  <div class="wrapper flow">
    <h1>{{ title }}</h1>
    <p>The page you were looking for doesn't exist.</p>
  </div>
{% endblock %}
