.prose {
  --prose-max-width: 65ch;

  max-inline-size: var(--prose-max-width);
}

.prose[data-prose-width='wide'] {
  --prose-max-width: 90ch;
}

.prose[data-prose-width='full'] {
  --prose-max-width: none;
}

.prose > :first-child {
  margin-block-start: 0;
}

.prose > :last-child {
  margin-block-end: 0;
}

.prose > * + * {
  margin-block-start: var(--space-s);
}

.prose img {
  width: auto;
}

.prose > * + h2,
.prose > * + h3 {
  margin-block-start: var(--space-l);
}

.prose > * + h4,
.prose > * + h5 {
  margin-block-start: var(--space-m);
}
