{% extends '_layouts/skeleton' %}

{% block body %}
  <header>
    {% block header %}

    {% endblock %}
  </header>

  <main>
    {% block main %}

    {% endblock %}
  </main>

  <footer>
    {% block footer %}

    {% endblock %}
  </footer>
{% endblock %}
