
body,
input,
textarea,
button {
	font-family: $font-primary;
}

input,
textarea,
button,
body {
	@include type( theta );
}

body {
	color: $colour-primary-text;
}

.skip-to-content {
	left: -999rem;
	position: absolute;
	top: 0;
	z-index: 99;
	&:focus {
		left: 0;
	}
}
