
.h,
%heading-style-1 {
	@include type( gamma );
	font-weight: bold;
	margin-bottom: 1rem;
}

%heading-style-2 {
	@include type( delta );
	font-weight: bold;
	margin-bottom: 0.6rem;
}

.p,
%paragraph {
	display: block;
	margin: 0 0 1rem;
}

.a,
%link {
	color: $colour-link;
	text-decoration: none;
	transition: color 0.2s;
	&:hover,
	&:focus {
		color: $colour-link--hover;
	}
}

%list {
	padding-left: 1.2rem;
}

%list-item {
	margin-bottom: 0.6rem;
}

%unordered-list-item {
	list-style: disc outside;
}

%ordered-list-item {
	list-style: decimal outside;
}

.ol {
	@extend %list;
	li {
		@extend %list-item;
		@extend %ordered-list-item;
	}
}
.ul {
	@extend %list;
	li {
		@extend %list-item;
		@extend %unordered-list-item;
	}
}

.typeset {
	h2 {
		@extend %heading-style-1;
	}
	h3 {
		@extend %heading-style-2;
	}
	p,
	ul,
	ol,
	img {
		@extend %paragraph;
	}
	a {
		@extend %link;
	}
	ol {
		@extend %list;
		li {
			@extend %list-item;
			@extend %ordered-list-item;
		}
	}
	ul {
		@extend %list;
		li {
			@extend %list-item;
			@extend %unordered-list-item;
		}
	}
}
