{#
  Unordered List
  A bulleted list with branded marker colour.

  items  array  Array of strings, one per list item.

  {{ unorderedList(["Free initial consultation", "Dedicated account manager"]) }}
#}
{% macro unorderedList(items) %}
<ul class="u-unordered-list">
  {% for item in items %}
    <li class="u-unordered-list__item">{{ item }}</li>
  {% endfor %}
</ul>
{% endmacro %}
