.u-alert {
  --alert-border-width: 4px;
  --alert-gap: var(--space-xs);
  --alert-text-size: var(--step--1);

  display: flex;
  align-items: center;
  gap: var(--alert-gap);
  padding: var(--space-xs) var(--space-s);
  border-inline-start: var(--alert-border-width) solid;
}

.u-alert[data-alert-level='info'] {
  background-color: var(--color-utility-blue--tint-90);
  border-color: var(--color-utility-blue);
  color: var(--color-utility-blue);
}

.u-alert[data-alert-level='warning'] {
  background-color: var(--color-utility-orange--tint-90);
  border-color: var(--color-utility-orange);
  color: var(--color-utility-orange);
}

.u-alert[data-alert-level='success'] {
  background-color: var(--color-utility-green--tint-90);
  border-color: var(--color-utility-green);
  color: var(--color-utility-green);
}

.u-alert[data-alert-level='failure'] {
  background-color: var(--color-utility-red--tint-90);
  border-color: var(--color-utility-red);
  color: var(--color-utility-red);
}

.u-alert__icon {
  flex-shrink: 0;
  display: flex;
}

.u-alert__text {
  color: var(--color-dark);
  font-size: var(--alert-text-size);
  line-height: var(--line-height-relaxed);
  flex: 1;
  margin: 0;
}
