.u-caption {
  --caption-color: var(--color-dark--tint-30);
  --caption-size: var(--step--1);

  color: var(--caption-color);
  font-size: var(--caption-size);
  line-height: var(--line-height-relaxed);
}
