.u-field-group {
  --field-group-gap: var(--space-2xs);

  border: none;
  margin: 0;
  padding: 0;
}

.u-field-group__options {
  display: flex;
  flex-direction: column;
  gap: var(--field-group-gap);
}
