/**
 * GLOBAL STYLES
 * Low-specificity, global styles that apply to the whole project.
 */

body {
  background: var(--color-light);
  color: var(--color-dark);
  container-type: inline-size;
  font-family: var(--font-main);
  font-size: var(--step-0);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-default);
}

/* Base typesetting */
h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-single);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

/* More generic elements */
blockquote:not([class]) {
  font-family: var(--font-main);
  font-size: var(--step-2);
}

/* Markdown blockquote:not([class])s aren't ideal, so we're presuming the person quoted is the last p */
blockquote:not([class]) p:last-of-type {
  font-family: var(--font-main);
  font-size: var(--step-1);
  font-weight: var(--font-weight-normal);
}

svg {
  flex: none;
  height: 2ex;
  width: auto;
}

[role='list'] {
  padding: 0;
}

/* Base interactive elements */
a {
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  transition:
    color 0.2s,
    text-decoration-color 0.2s;
}
a:not([class]) {
  color: var(--color-brand);
  text-decoration: underline;
}
a:hover,
a:focus,
a:focus-visible {
  color: var(--color-dark);
  text-decoration-color: transparent;
}
a:focus-visible {
  outline: 2px solid var(--color-utility-orange);
  outline-offset: 2px;
}

:focus {
  outline: 2px solid;
  outline-offset: 0.3ch;
}

:target {
  scroll-margin-top: 2ex;
}

main:focus {
  outline: none;
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
  background: var(--color-dark);
  color: var(--color-light);
}
