/* VARIABLES */

/**
 * COLOURS
 */
:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;
}

/**
 * TYPOGRAHPY
 */
:root {
  /* Font families */
  --font-main: -apple-system, 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;
  --font-heading: -apple-system, 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;

  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-default: 1.4;
  --line-height-condensed: 1.2;
  --line-height-single: 1;
}

/**
 * TYPE SCALE
 */
/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1480,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--2: clamp(0.6944rem, 0.6915rem + 0.0129vw, 0.7035rem);
  --step--1: clamp(0.8333rem, 0.7998rem + 0.1491vw, 0.9377rem);
  --step-0: clamp(1rem, 0.9196rem + 0.3571vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.0501rem + 0.6661vw, 1.6663rem);
  --step-2: clamp(1.44rem, 1.1889rem + 1.1159vw, 2.2211rem);
  --step-3: clamp(1.728rem, 1.3318rem + 1.7611vw, 2.9607rem);
  --step-4: clamp(2.0736rem, 1.4715rem + 2.6758vw, 3.9467rem);
  --step-5: clamp(2.4883rem, 1.5971rem + 3.9608vw, 5.2609rem);
}

/**
 * SPACE SCALE
 */
/* @link https://utopia.fyi/space/calculator?c=360,16,1.2,1480,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --space-3xs: clamp(0.25rem, 0.2299rem + 0.0893vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4598rem + 0.1786vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6897rem + 0.2679vw, 0.9375rem);
  --space-s: clamp(1rem, 0.9196rem + 0.3571vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3795rem + 0.5357vw, 1.875rem);
  --space-l: clamp(2rem, 1.8393rem + 0.7143vw, 2.5rem);
  --space-xl: clamp(3rem, 2.7589rem + 1.0714vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.6786rem + 1.4286vw, 5rem);
  --space-3xl: clamp(6rem, 5.5179rem + 2.1429vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1295rem + 0.5357vw, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3594rem + 0.625vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.5893rem + 0.7143vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.7188rem + 1.25vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.1786rem + 1.4286vw, 2.5rem);
  --space-l-xl: clamp(2rem, 1.4375rem + 2.5vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.3571rem + 2.8571vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.875rem + 5vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.5179rem + 2.1429vw, 2.5rem);
}

/**
 * GRID
 */
/* @link https://utopia.fyi/grid/calculator?c=360,16,1.2,1480,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,2xl,12 */
:root {
  --grid-max-width: 92.50rem;
  --grid-gutter: var(--space-s-l, clamp(1rem, 0.5179rem + 2.1429vw, 2.5rem));
  --grid-columns: 12;
}
